@import "../../styles/variables";

.loading__wrapper {
  background-color: var(--color-bg);
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  animation: display 1ms 3300ms forwards;
}

.loading__container {
  display: grid;
  grid-template-columns: repeat(3, 20px);
  grid-template-rows: repeat(3, 20px);
  transform: rotate(45deg);

  & span {
    display: block;
    background-color: $color-primary;
    animation: loading-effect 1s ease 3 forwards;

    &:nth-child(3) {
      animation-delay: 1s;
    }
    &:nth-child(2) {
      animation-delay: 0.9s;
    }
    &:nth-child(6) {
      animation-delay: 0.9s;
    }
    &:nth-child(1) {
      animation-delay: 0.8s;
    }
    &:nth-child(5) {
      animation-delay: 0.8s;
    }
    &:nth-child(9) {
      animation-delay: 0.8s;
    }
    &:nth-child(4) {
      animation-delay: 0.7s;
    }
    &:nth-child(8) {
      animation-delay: 0.7s;
    }
    &:nth-child(7) {
      animation-delay: 0.6s;
    }
  }
}

@keyframes loading-effect {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes display {
  from {
  }
  to {
    visibility: hidden;
  }
}

.tv__wrapper {
  animation: display 1ms 4500ms forwards;
}

.tv {
  position: fixed;
  background-color: #fff;
  height: 50vh;
  animation-duration: 0.5s, 0.5s;
  animation-delay: 3.5s, 2.8s;
  animation-timing-function: linear, linear;
  animation-fill-mode: forwards, forwards;
  z-index: 4;
}

.tv__top {
  border-bottom: 1px solid $color-primary;
  animation-name: switchOnTop, resizeTop;
}

.tv__bottom {
  top: 50%;
  border-top: 1px solid $color-primary;
  animation-name: switchOnBottom, resizeBottom;
}

@keyframes resizeTop {
  0% {
    width: 0;
    left: 50%;
  }

  100% {
    width: 100vw;
    left: 0;
  }
}

@keyframes resizeBottom {
  0% {
    width: 0;
    right: 50%;
  }

  100% {
    width: 100vw;
    right: 0;
  }
}

@keyframes switchOnTop {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

@keyframes switchOnBottom {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100%);
  }
}
